header{
    background-color: #111111;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 47, 53);
    color: white;
    text-align: center;
}

.logo>img{
    height: 150px;
    width: auto;
}

.imglogo{
    height: 150px;
    width: auto;
}

.logoIndex>img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline;
}

.logo>span{
    /*font-family:  cursive; 
    font-size: 2em;
    color: rgb(255, 105, 45)*/
}

/* CSS file for login page */
body {
    overflow-y: auto;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    
    
    footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 47, 53);
    color: white;
    text-align: center;
}

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Left half styles */

.left-half {
    flex: 1;
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.left-half h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.left-half p {
    font-size: 24px;
    margin-bottom: 40px;
}
.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.contact p {
    font-size: 24px;
    margin-right: 20px;
}

.contact span {
    font-weight: bold;
}

.contact a {
    display: inline-block;
    margin-left: 20px;
}

.mission h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mission p {
    font-size: 24px;
    margin-bottom: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

  .form-container {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #f5f5f5;
    width: 50%;
    margin: 0 auto;
  }

/* Left half styles */

.left-half {
    flex: 1;
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.left-half h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.left-half p {
    font-size: 24px;
    margin-bottom: 40px;
}
.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.contact p {
    font-size: 24px;
    margin-right: 20px;
}

.contact span {
    font-weight: bold;
}

.contact a {
    display: inline-block;
    margin-left: 20px;
}

.mission h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mission p {
    font-size: 24px;
    margin-bottom: 40px;
}


/*Fin: para añadir*/
.container-form {
  max-height: 500px; /* establece la altura máxima del contenedor */
  overflow-y: auto; /* agrega una barra de desplazamiento vertical cuando el contenido excede la altura del contenedor */
}
.panel {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-y: auto;
}

.fila {
    margin-bottom: 15px;
}

.encabezado {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.etiqueta {
    display: inline-block;
    width: 100px;
}

.campo {
    display: inline-block;
    width: calc(100% - 120px);
}

input[type=text],
    input[type=number],
    select,
    input[type=date] {
        width: 100%;
        padding: 10px;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        box-sizing: border-box;
}
/*Fin: para añadir*/

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"].is-invalid,
input[type="password"].is-invalid {
    border-color: #ff0000;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

a {
    color: #007bff;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

table td {
    padding: 10px;
}


table td:first-child {
    padding-right: 20px;
}

table{
    background-color: white;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: white;

}

.localImage>img{
    width: 100%;

}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;

}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.search-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0062cc;
}

ul {
    text-align: right;
}

.logout{
    float: right;
}

.center{
    margin: 0 auto;
}

.spanLetra{
    font-family: monospace;
    font-size: 16px;

}

#placa {
    width: 200px;
}


.search-buttonPoliza{
    display: block;
    text-align: center;
    margin: 0 auto !important;
    border-radius: 20px;
    padding: 8px;
    width: 10%;
}

.misPolizas{
    font-family: "Helvetica", sans-serif;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #333;
}

.submenu li {
    display: block;
}

.submenu li a {
    padding: 10px;
    white-space: nowrap;
    display: block;
}
.submenu li a:hover {
    background-color: #666;
}
.nav li:hover .submenu {
    display: block;
}

nav {
    background-color: #ddd;
    padding: 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
nav li {
    margin-right: 10px;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul.submenu {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav ul.nav li:hover > ul.submenu {
    display: block;
}

nav ul.submenu li {
    display: block;
    margin: 10px 0;
}

nav ul.submenu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

nav ul.submenu li a:hover {
    color: #007bff;
}

nav ul.nav li {
    position: relative;
}

nav ul li:hover > ul.submenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}